/* ===== Main Rules ===== */

:root{
  --belk-main-color: white;
  --belk-primary: #0d6efd;
  --belk-bg-primary: #0d6efd1c;
  --belk-secondary: #6c7293;
  --belk-success: #00d25b;
  --belk-danger: #fc424a;
  --belk-dark: #222e3c;
  --belk-warning: #ffc107;
  --belk-info: #0dcaf0;

  --belk-gray-light: #eee;
  --belk-success-20: #00d25b33;
  --belk-heading-color: #414141;

  --belk-bg-success: #00d15b1c;
  --belk-bg-info: #0dcaf01c;
  --belk-bg-danger: #fc424a1c;
  --belk-bg-warning: #ffc1071c;
  --belk-bg-light: #f5f7fb;
  --belk-bg-dark: #19222c;
  --belk-bg-light-gray: #f9faf3;
  

  /* Card & input bg */
  --belk-bg-card: #F9F9F9;
  --belk-bg-input: #EEEEEE;

  /* Text color */
  --belk-text-color: #252A2E;
}

*{
  font-family: 'Poppins', sans-serif !important;
}

a{
  color: inherit !important;
  text-decoration: none;
}

body{
  /* overflow-y:scroll; */
}

#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f3f3f3;
  z-index: 9999;
  display: none; /* Initially hidden */
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--belk-primary);
  transition: width 0.4s;
}

header {
  background-color: var(--belk-main-color);
  position: sticky;
  top: 0;
  z-index: 2;
}

header .form-search {
  flex: 1;
}

header .header-stats .card{
  flex: 1;
}

body{
  background-color: var(--belk-main-color);
}

/* Keyframes for opacity animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* CUSTOM CLASS */
.card-custom-bg{
  background-color: var(--belk-bg-card) !important;
}

.input-custom-bg{
  background-color: var(--belk-bg-input) !important;
}

.text-custom-color{
  color: var(--belk-text-color) !important;
}
/* END CUSTOM CLASS */


/* Keyframes for width animation */
@keyframes expand-in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes expand-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* ===== End Main Rules ===== */

/* Navbar */
/* .nav-link{
  display: inline-block;
  padding: .5rem !important;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  
} */

/* .nav-link-search{
  background-color: white;
  color: var(--belk-danger);
} */
/* End Navbar */

/**
  * ===============================================
  * ADMIN DASHBOARD
  * ===============================================
 */

 /* ===== Wrapper content ===== */

.wrapper-content{
  position: relative;
  min-height: 100vh;
}

/* ===== End Wrapper content ===== */

/* ===== Sidebar ===== */

#sidebar{
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 220px;
  height: 100vh;
  background-color: var(--belk-bg-dark);
  color: var(--belk-main-color);
  transition: left .3s ease-out;
  z-index: 99;
}

#sidebar .navbar-brand{
  min-height: 64px;
}

#sidebar .nav .nav-link span,
#sidebar .navbar-brand .brand-left{
  opacity: 1;
  width: 80%;
  animation: fade-in 1.2s ease-in-out, expand-in .5s ease-in-out;
  
}

#sidebar.reduce .nav .dropend .dropdown-toggle::after{
  z-index: 0;
  visibility: visible;
  transition: visibility 1.2s ease-in-out;
}

#reduceSidebar {
  z-index: 99;
}

#sidebar .navbar-brand,
#sidebar .nav .nav-link{
  color: var(--belk-main-color) !important;
}

#sidebar .nav .nav-link{
  width: 100%;
  height: 48px;
  border-radius: 12px;
  transition: background-color .3s ease-in-out;
}

#sidebar .nav .nav-link span,
#sidebar .nav .nav-link i{
  vertical-align: middle;
}

#sidebar .nav .nav-link:hover{
  background-color: var(--belk-main-color);
  color: var(--belk-dark) !important;
}

#sidebar .nav .dropend .dropdown-toggle{
  position: relative;
}

#sidebar .nav .dropend .dropdown-toggle::after{
  position: absolute;
  left: auto;
  right: 15px;
  top: 45%;
}

#sidebar .nav .dropend .dropdown-menu{
  background-color: var(--belk-bg-dark);
  color: var( --belk-main-color);
  left: 16px !important;
}

#sidebar .nav .dropend .dropdown-menu .dropdown-item:hover{
  color: var(--belk-bg-dark) !important;
}

#sidebar.open{
  left: 0;
  transition: left 0.5s cubic-bezier(0.85, 0, 0.15, 1) 0s;
}

#sidebar.open~#sidebarBackground{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(114, 114, 114, 0.3);
  z-index: 9;
}

/* ===== End Sidebar ===== */

/**
  * ===============================================
  * END ADMIN DASHBOARD
  * ===============================================
 */

#main .size .form-check{
  padding-left: 0 !important;
  margin: 0 !important;
}

#main .size .form-check .form-check-input{
  display: none;
}

#main .size .form-check .form-check-label {
  width: 35px;
  text-align: center;
  border-radius: 6px;
  padding: .25rem;
  background-color: var(--belk-gray-light);
  transition: background-color .3s ease-out;
}

#main .size .form-check .form-check-label:hover{
  background-color: var(--belk-success-20);
}

#main .size .form-check .form-check-input:checked~.form-check-label{
  background-color: var(--belk-success);
}

#main .gender .form-check-input:checked{
  background-color: var(--belk-success) !important;
  border-color: var(--belk-success) !important;
}

/**
  * ===============================================
  * MEDIA QUERY
  * ===============================================
 */

@media(min-width: 768px){

  header{
    margin-bottom: 100px;
    min-height: 160px;
  }
  header .header-stats {
    position: absolute;
    right: 0;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 0 2rem;
  }
}

@media(min-width: 992px) {

  .wrapper-content{
    display: flex;
  }

  /* ===== sidebar ===== */
  #sidebar{
    position: sticky;
    width: 250px;
    left: 0;
    transition: width .5s ease-in-out;
  }

  #sidebar.reduce{
    width: 80px !important;
  }

  #sidebar~#main{
    width: calc(100% - 250px);
    transition: width .5s ease-in-out;
  }

  #sidebar.reduce~#main{
    width: calc(100% - 80px);
  }

  #sidebar .nav .nav-link{
    text-wrap: nowrap;
  }

  #sidebar.reduce .nav .nav-link{
    width: 48px;
    border-radius: 6px;
    text-align: center;
  }

  #sidebar.reduce .nav .nav-link:hover {
    background-color: var(--belk-main-color);
  }

  #sidebar.reduce .nav .nav-link:hover i{
    color: var(--belk-bg-dark);
  }

  #sidebar.reduce .nav .nav-link span,
  #sidebar.reduce .navbar-brand .brand-left{
    opacity: 0;
    width: 0;
    animation: fade-out .3s ease-in-out, expand-out .7s ease-in-out;
    display: none !important;
  }

  #sidebar.reduce .nav .dropend .dropdown-toggle::after{
    visibility: hidden;
    transition: visibility .2s ease-in-out;
  }

  /* #sidebar.reduce .nav .dropend .dropdown-menu{
    left: 24px !important;
  } */
  /* ===== End sidebar ===== */
}


/**
  * ===============================================
  * END MEDIA QUERY
  * ===============================================
 */